
body{
    font-family: 'Ubuntu', sans-serif !important;
    /* overflow-x: hidden; */
}
.nav-title{
    font-weight: 700 !important;
}
.bg-body-tertiary{
    --bs-bg-opacity: 0 !important;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
}
.navbar-nav{
    left: 40px;
    position: relative;
}
.navbar-nav a{
    color: #fff !important;
}
.navbar-toggler{
    border: #fff !important;
    color: #fff !important;
}
.navbar-toggler-icon{ 
    color: white !important;
 }

.firstthing{
    background-image: url('../image/homeBg1st.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#contactButton{
    margin-left: 5px;
}
.homeheading{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size :3.25rem;;
    width: 32.5rem;
    line-height: 3.125rem;
}
.homeHeadDiv{
    width: fit-content;
    left: 7.5rem;
    top: 12.69rem;
    position: relative;
}
.homeHeadDiv p{
    
    width: 34.6875rem;
    color: rgba(255, 255, 255, 0.71);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.homeHeadDiv button{
    color: #fff;
    background: #FFA542;
    width: 10.3125rem;
    height: 3.375rem;
}
.homeHeadDiv .btn{
    --bs-btn-border-radius: 0;
}
.aboutUs{
    width: 100%;
    height: auto;
}
.aboutUsDivflexCol{
    display: flex;
    flex-direction: column;
    position: relative;
}
.container-slide{
    margin-left: 7.5rem;
    top: 13rem;
    position: relative;
}
.slider-scrollbar{
    display: none;
}
.image-list{
    gap: 5rem;
    display: flex;
    flex-wrap: nowrap;
}
.image-list img{
    width: 40rem;
}
.aboutUsDiv{
    margin-left: 7.5rem;
    top: 11.25rem;
    position: relative;
    flex-direction: row;
    display: flex;
    width: fit-content;
}
.aboutUsDiv img{
    width: 36.5rem;
    height: 27.5rem;
    flex-shrink: 0;
}
.aboutUsDiv h3{
    color: #FFA542;
   
}
.aboutUsDivContent{
    margin-left: 6rem;
}
.aboutUsDivContent h1{
    width: 20.375rem;
    color: #121212;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem; 
}

.aboutUsDivContent p{
    width: 32.125rem;
    color: rgba(18, 18, 18, 0.71);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem; 
}
.aboutUsDivContent a{
    text-decoration: none;
    color: #FFA542;
}
a .aboutUsH2{
    color: #FFA542;
    font-size: 1rem;
    font-weight: 500;
}
.aboutUsH2 svg{
    margin-left: 10px;
}
.w-100{
    width: 18.75rem !important;
}
#slider {
    overflow: hidden;
    position: relative;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .index-line {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
  }

  .index-line-bar {
    width: 30px;
    height: 3px;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .index-line-bar.active {
    background-color:  #FFA542;
  }


@media (max-width: 768px){
    .firstthing{
        /* left: 200px;*/
        position: relative; 
        background-image: url('../image/HomeMobile.png');
    }
    .navbar-nav{
        left: 0px;
        position: static;
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: center !important;
    }
    .imageText{
        width: 150px;
        height: auto;
    }
    #contactButton{
        margin-left: 0px;
    }
    .homeheading{
        
        font-size :1.875rem;;
        width: 20.4375rem;
        line-height: 2.1875rem;
    }
    .homeHeadDiv{
        left: 1.5rem;
        top: 5.76rem;
        position: relative;
    }
    .homeHeadDiv p{
    
        width: 19.375rem;
        margin-top: 1.44rem;
        color: rgba(255, 255, 255, 0.71);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3125rem; 
    }
    .homeHeadDiv .btn{
        margin-top: 1.44rem;
    }
    .aboutUsDiv img{
        width: 17rem;
        height: auto;
        flex-shrink: 0;
    }
    .aboutUsDiv{
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 3.31rem;
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .aboutUsDiv h3{
        color: #FFA542;
        margin-left: 0;
        font-size: 1rem;
        margin-top: 40px;
        font-weight: 500;
        width: 5.17rem;
    }
    .aboutUsDivContent{
        margin-left: 0;
    }
    .aboutUsDivContent h1{
        width: 20.375rem;
        color: #121212;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.125rem; 
    }
    
    .aboutUsDivContent p{
        width: 19.75rem;
        color: rgba(18, 18, 18, 0.71);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.75rem; 
    }
    .aboutUsDivContent a{
        text-decoration: none;
        color: #FFA542;
    }
    a .aboutUsH2{
        color: #FFA542;
        font-size: 1rem;
        font-weight: 500;
    }
    .aboutUsH2 svg{
        margin-left: 10px;
        width: 18px ;
    }
    .container-slide{
        top: 6rem;
        margin-left: 0;
    }
    .slide-wapper .image-list{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20%;
        overflow-x: auto;
        scrollbar-width: none;
        margin-bottom: 10px;
      }
      .image-list img{
        width: auto;
    }
      .slide-wapper .image-list::-webkit-scrollbar{
        display: none;
      }

      .slide-wapper .image-list .image-item{
        object-fit: cover;
      }
      .container-slide .slider-scrollbar{
        height: 20px;
        width: 100%;
        /* background: #FFA542; */
        display: flex;
        align-items: center;
      }
      .slider-scrollbar .scrollbar-track{
        height: 5px;
        width: 100%;
        background: #F2F2F2;
        position: relative;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .slider-scrollbar .scrollbar-thumb{
        position: absolute;
        height: 5px;
        width: 50%;
        background: #FFA542;
        border-radius: inherit;
      }
    
    
}