
body{
    font-family: 'Ubuntu', sans-serif !important;
    overflow-x: hidden;
}
.nav-title{
    font-weight: 700 !important;
}
.bg-body-tertiary{
    --bs-bg-opacity: 0 !important;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
}
.navbar-nav{
    left: 40px;
    position: relative;
}
.navbar-nav a{
    color: #fff !important ;
}
.navbar-toggler{
    border: #fff !important;
    color: #fff !important;
}
.navbar-toggler-icon{ 
    color: white !important;
 }

.firstthing{
    background-image: url('../image/homeBg1st.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#contactButton{
    margin-left: 5px;
}
.homeheading{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size :3.25rem;;
    width: 32.5rem;
    line-height: 3.125rem;
}
.homeHeadDiv{
    width: fit-content;
    left: 7.5rem;
    top: 12.69rem;
    position: relative;
}
.homeHeadDiv p{
    
    width: 34.6875rem;
    color: rgba(255, 255, 255, 0.71);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.homeHeadDiv button{
    color: #fff;
    background: #FFA542;
    width: 10.3125rem;
    height: 3.375rem;
}
.homeHeadDiv .btn{
    --bs-btn-border-radius: 0;
}
.aboutUs{
    width: 100%;
    height: auto;
}
.aboutUsDivflexCol{
    display: flex;
    flex-direction: column;
    position: relative;
}
.container-slide{
    margin-left: 7.5rem;
    margin-top: 13rem;
    position: relative;
}
.slider-scrollbar{
    display: none;
}
.image-list{
    gap: 5rem;
    display: flex;
    flex-wrap: nowrap;
}
.image-list img{
    width: 40rem;
}
.aboutUsDiv{
    margin-left: 7.5rem;
    top: 11.25rem;
    position: relative;
    flex-direction: row;
    display: flex;
    width: fit-content;
}
.aboutUsDiv img{
    width: 36.5rem;
    height: 27.5rem;
    flex-shrink: 0;
}
.aboutUsDiv h3{
    color: #FFA542;
   
}
.aboutUsDivContent{
    margin-left: 6rem;
}
.aboutUsDivContent h1{
    width: 20.375rem;
    color: #121212;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem; 
}

.aboutUsDivContent p{
    width: 32.125rem;
    color: rgba(18, 18, 18, 0.71);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem; 
}
.aboutUsDivContent a{
    text-decoration: none;
    color: #FFA542;
}
a .aboutUsH2{
    color: #FFA542;
    font-size: 1rem;
    font-weight: 500;
}
.aboutUsH2 svg{
    margin-left: 10px;
}
.w-100{
    width: 18.75rem !important;
}
#slider {
    overflow: hidden;
    position: relative;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .index-line {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
  }

  .index-line-bar {
    width: 30px;
    height: 3px;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .index-line-bar.active {
    background-color:  #FFA542;
  }
  .subHeadDiv h3{ 
    color: #FFA542;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 8rem;
    width: 100%;
  }
  .subHeadDiv{
    width: 100%;
    margin-bottom: 3.75rem;
  }
  .subHeadDiv h2{
    text-align: center;
    font-weight: 700;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  .image-listbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;

  }
  .image-listbottom .one-one{
    width: 18.75rem;
    height: 28.125rem;
    /* margin-right: 2rem; */
  }
  .image-listbottom .rect-image{
    width: 24.25rem;
    height: 28.125rem;
    flex-shrink: 0;
    background: #060A2B;
  }
  .rect-image svg{
    position: relative;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }
  .rect-image .number-thing{
    display: flex;
    flex-direction: row;
  }
  .number-thing span{
    width: 5rem;
    height: 0rem;
    flex-shrink: 0;
    margin-top: 5rem;
    stroke-width: 1.2px;
    stroke: #FFF;
  }
  .rect-image h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
  .rect-image h4{
    color: rgba(255, 255, 255, 0.71);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    width: 20.875rem;
    position: relative;
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  .rect-image a{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    text-decoration: none;
    margin-top: 4.25rem;
  }
  .rect-image .learn-more{
    color: #FFA542;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    margin-top: 0;
    margin-left: 01.5rem;
    margin-bottom: .0;
  }
  a svg{
    margin-top: 0 !important;
    margin-left: 1rem !important;
    align-items: center;
  }
  .image-listbottom .bottom-two{
    width: 24.25rem;
    height: 28.125rem;
    gap: 0;
  }
  .image-listbottom .bottom-three{
    width: 18.75rem;
    height: 28.125rem;
    flex-shrink: 0;

  }
  .flexrow {
    display: contents;
  }
.contactushome {
  margin-top: 10.25rem;
  background: #F6F6F6;
  padding-top: 6.5rem;
  padding-bottom: 6.25rem;
  position: relative;
}
.headingtwocontact{
  margin-left: 7.5rem;
  color: #FFA542;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
}
.contactushome .contentconatct{
  color: #121212;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem; /* 125% */
  width: 34.65rem;
  margin-left: 7.5rem;
}
.contactushome .btn{
  margin-left: 7.5rem;
  margin-bottom: 2rem;
  --bs-btn-border-radius: 0;
  width: 10.3125rem;
  height: 3.375rem;
  border: 1.2px solid #FFA542;
  --bs-btn-border-width: 1.5px;
  --bs-btn-border-color:#FFA542;
  --bs-btn-hover-bg:#ffa542;
  --bs-btn-hover-color:#fff;
}
.contactushome .svgblack{
  position: absolute;
  right: 7.87rem;
  bottom: 5.19rem;
}
.contactushome .svgviolet{
  position: absolute;
  right: 36.06rem;
  bottom: 2.81rem;
}
.contactushome .svgorange{
  position: absolute;
  right: 32.94rem;
  bottom: 19.44rem;
}
.footercomponet {
  padding-top: 6.25rem;
  height: fit-content;
  background: #060A2B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
 .footercomponet img{
  width: 13.9375rem;
  height: 4rem;
  margin-left: 7.5rem;
 } 
 ul .foothead{
  color: #FFF !important;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem !important;
 }
 .productsfoot{
  height: fit-content;
 }
 .productsfoot ul a{
  text-decoration: none;
  color: #fff;
 }
 .productsfoot ul li{
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.71);
 }
 .last{
  margin-right: 7.5rem;
 }
 .lineinend{
  height: fit-content;
  background: #060A2B;
 }
 .lineinend span{
  display: block;
  width: 100vw;
  border-top: 1px solid #ccc;
  opacity: 70%;
 }
 .lineinend .finalnote{
  color: #FFF;
  opacity: 70%;
  width: 32.15rem;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-left: 7.5rem;
  margin-bottom: 0;

 }
.lineinend .finalredirects ul{
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  margin-right: 7.5rem;
}
.lineinend .finalredirects ul li{
  margin: 2px;
}
.lineinend .flexedfoot{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.footcomp{
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #FFF;
  opacity: 70%;
}
.footcomp a{
  text-decoration: none;
  color: #FFF;
}
section .oneaboutus{
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
}
.oneaboutus h1{
  width: 33.375rem;
  margin-left: 7.5rem;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
}
.oneaboutus h4{
  width: 34.6875rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-right: 5rem;
}
.aboutusoneimg{
  display:flex;
  width: 82.5rem;
  height: 24.6875rem;
  margin-left: 7.5rem;
  margin-top: 1.56rem;
}
.aboutustwo{
  margin-top: 8.06rem;
  background: rgba(253, 248, 241, 0.80);
  height: fit-content; 
  width: 100%;
}
.aboutustwo-contentone{
margin-left: 7.5rem;
width: fit-content;
padding-top: 5rem;
}
.aboutustwo-contentone-flex{
  display: flex;
}
.aboutustwo-contentone span{
  display: block;
  width: 0.125rem;
  height: 1.625rem;
  background: #FFA542;
  margin-right: 1.2rem;
}
.aboutustwo-contentone h3{
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
}
.aboutustwo-contentone h5{
  font-size: 1rem;
  line-height: 1.25rem; /* 125% */
  width: 32.5rem;
}
.aboutustwoimgtext{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutustwoimgtext img{
  width: 37.5rem;
  height: 37.5rem;
  padding-right: 4.5rem;
  padding-top: 7.5rem;

}
.threestepdiv{
  margin-top: 10rem;
}
.rectanglestep{
  margin-left: 7.5rem;
  width: 37.5rem;
  height: 10rem;
  background: #FFEAD4;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.rectanglestep svg{
  align-self: center;
  transform: translateX(-25px);
}
.rectanglestep svg circle{
  z-index: 3;
  margin-left: -25px;
}
.rectanglestep svg text{
  fill: black;
  font-size: 1.25rem;
  font-weight: 700;
}
.rectanglestep h3{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.rectanglestep h5{
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  width: 33.125rem;
}
.item-rect-about{
  display: flex;
  flex-direction: column;
}
.threestepdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.threesteprightdiv{
  position: relative;
}
.embarkstepthree{
  display: flex;
  margin-right: 3.88rem;
  gap: 2rem;
  align-items: center;
}
.embarkstepthree span{
  width: 2px;
  height: 9.375rem;
  stroke-width: 2px;
  stroke: #FFA542;
  background-color: #FFA542;
}
.embarkstepthree h3{
  font-size: 1.875rem !important;
  font-style: normal !important;
  font-weight: 700 !important;
  width: 25.8125rem !important;
  color: black !important;
}
.rightstepaboutstart>h3{
  color: #FFA542;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin-left: 50%;
  transform: translateX(-50%);
}
.aboutusstepcontact{
  padding-top: 17rem;
}
.aboutusstepcontact a{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.aboutusstepcontact a h3{
  color: #FFA542;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.threesteprightdiv .aboutUsorange{
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #FFA542;
  border-radius: 50%;
  position: absolute;
  right: 3.88rem;
  top: 10.63rem;
}
.threesteprightdiv .aboutUsblack{
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #060A2B;
  border-radius: 50%;
  position: absolute;
  top: 19.25rem;
  left: 3.5rem;
}
.threesteprightdiv .aboutUsviolet{
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  background-color: #9871F9;
  border-radius: 50%;
  position: absolute;
  right: 12.2rem;
  top: 25.6rem;
}
.onemarginbottom{
  margin-bottom: 1rem;
}
.productone{
  padding-top: 6rem;
}
.productone-head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productone-head>h2{
  justify-items: center;
  color: #000;
  text-align: center;
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 125% */
  width: 70.6875rem;
}
.productone-head>h4{
  padding-top: 3.5rem;
  color: #FFA542;
  text-align: center;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 142.857% */
}
.productone-namehead{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4.5rem;
}
.productone-namehead h3{
  color: #000;
  text-align: center;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  width: 28.625rem;
}
.productone-namehead span{
  width: 0.0625rem;
  height: 12.5rem;
  background-color: #000;
}
.productone img{
  object-fit: cover;
  padding-top: 4.3rem;
  width: 75%;
  height: 27rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.productlistdiv-1 h3{
  padding-top: 6.5rem;
  padding-bottom: 5rem;
  color: #000;
  text-align: center;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 120% */
}
.product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.productlist-inner{
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
.productlist-inner img{
  object-fit: none;
  scale: 1;
  width: 50px;
  height: 50px;
}
.productlist-insider h3{
  color: #000;
  text-align:left;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
}
.productlist-insider h4{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 28.6875rem;
}
.productlastdiv-1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.productlastdiv-1>h3{
  width: 54rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #060A2B;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
}
.productlastdiv-1> .btn-warning{
  --bs-btn-color: #000;
  --bs-btn-bg: #FFA542;
  --bs-btn-border-color: #FFA542;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #FFA542;
}
.productlastdiv-1> .btn{
  --bs-btn-border-radius:0;
  width: 11.625rem;
  height: 3.875rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.lastproducts{
  padding-bottom: 5rem;
}
section .contactdiv{
  display: flex;
  flex-direction: row;
}
.contactdiv .contactLeft{
  width: 33.3%;
  background-color: #fff;
  padding-top: 5rem;
}
.contactdiv .contactRight{
  width: 66.66%;
  background-color: #F6F6F6;
  padding-top: 5rem;
  padding-left: 4rem;
}
.anythingcontact {
  margin-left: 3.5rem;
  margin-bottom: 1.19rem;
}
form .input-data {
  height: 40px;
  margin: 0 20px;
  position: relative;
  margin-bottom :2rem;
}
.input-data input:focus{
  outline: none;
}
.input-data input, .textarea textarea {
  display: block;
  width: 70%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background-color: transparent;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 70%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data input{
  background: none;
  border: 1px solid black;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: fit-content;
}
.formheading>h3{
  width: 35.125rem;
  color: #444;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}
.formheading>h6{
  color: #444;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 3rem;
}
.anythingcontact>h3{
  font-size: 1rem;
  font-weight: 700;
}
.anythingcontact>h4{
  font-size: 0.875rem;
  width: 13rem;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
}
.contacticon a{
  display:inline-block;
  width: fit-content;
}
.contacticon a img{
  height: 2.5rem;
  width: auto;
}
.thirdontact>iframe{
  width: 20rem;
  height: 15rem;
  margin-top: 1.19rem;
}
@media (max-width: 1024px){
  .aboutUsDiv img{
    width: 20rem;
    height: auto;
  }
  .aboutUsDivContent{
    margin-left: 2rem;
  }
  .image-listbottom .one-one{
    width: 10.75rem;
    height: auto;
  }
  .image-listbottom .rect-image{
    width: 18.25rem;
    height: auto;
  }
  .rect-image h4{
    width:18rem ;
  }
  .image-listbottom .bottom-two{
    width: 17.25rem;
    height: auto;
  }
  .image-listbottom .bottom-three{
    width: 16.75rem;
    height: auto;
  }

}
@media (max-width: 768px){
    .firstthing{
        /* left: 200px;*/
        position: relative; 
        background-image: url('../image/HomeMobile.png');
    }
    .navbar-nav{
        left: 0px;
        position: static;
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: center !important;
    }
    .imageText{
        width: 150px;
        height: auto;
    }
    #contactButton{
        margin-left: 0px;
    }
    .homeheading{
        
        font-size :1.875rem;;
        width: 20.4375rem;
        line-height: 2.1875rem;
    }
    .homeHeadDiv{
        left: 1.5rem;
        top: 5.76rem;
        position: relative;
    }
    .homeHeadDiv p{
    
        width: 19.375rem;
        margin-top: 1.44rem;
        color: rgba(255, 255, 255, 0.71);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3125rem; 
    }
    .homeHeadDiv .btn{
        margin-top: 1.44rem;
    }
    .aboutUsDiv img{
        width: 17rem;
        height: auto;
        flex-shrink: 0;
    }
    .aboutUsDiv{
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 3.31rem;
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .aboutUsDiv h3{
        color: #FFA542;
        margin-left: 0;
        font-size: 1rem;
        margin-top: 40px;
        font-weight: 500;
        width: 5.17rem;
    }
    .aboutUsDivContent{
        margin-left: 0;
    }
    .aboutUsDivContent h1{
        width: 20.375rem;
        color: #121212;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.125rem; 
    }
    
    .aboutUsDivContent p{
        width: 19.75rem;
        color: rgba(18, 18, 18, 0.71);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.75rem; 
    }
    .aboutUsDivContent a{
        text-decoration: none;
        color: #FFA542;
    }
    a .aboutUsH2{
        color: #FFA542;
        font-size: 1rem;
        font-weight: 500;
    }
    .aboutUsH2 svg{
        margin-left: 10px;
        width: 18px ;
    }
    .container-slide{
        margin-top: 6rem;
        margin-left: 0;
    }
    .slide-wapper .image-list{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20%;
        overflow-x: auto;
        scrollbar-width: none;
        margin-bottom: 10px;
      }
      .image-list img{
        width: auto;
    }
      .slide-wapper .image-list::-webkit-scrollbar{
        display: none;
      }

      .slide-wapper .image-list .image-item{
        object-fit: cover;
      }
      .container-slide .slider-scrollbar{
        height: 20px;
        width: 100%;
        /* background: #FFA542; */
        display: flex;
        align-items: center;
      }
      .slider-scrollbar .scrollbar-track{
        height: 5px;
        width: 100%;
        background: #F2F2F2;
        position: relative;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .slider-scrollbar .scrollbar-thumb{
        position: absolute;
        height: 5px;
        width: 50%;
        background: #FFA542;
        border-radius: inherit;
      }
      .subHeadDiv{
        width: 100%;
      }
      .subHeadDiv h3{ 
        color: #FFA542;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 2.5rem;
        width: 100%;
      }
      .subHeadDiv h2{
       
        color: #121212;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 2.125rem; /* 141.667% */
      }
      .image-listbottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .image-listbottom .one-one{
        width: 20.4375rem;
        height: 23.6875rem;
        flex-shrink: 0;
      }
      .image-listbottom .rect-image{
        width: 20.4375rem;
        height: auto;
      }
      .rect-image a{
        margin-top:3.5rem;
        margin-bottom: 2.5rem;
      }
      .image-listbottom .bottom-two{
        width: 20.4375rem;
      }
      .image-listbottom .flexrow{
        display: flex;
        flex-direction: row;
        gap: 0.9375rem;
        margin-top: 1.5rem;
      }
      .image-listbottom .bottom-two{
        width: 9.75rem;
        height: 14.625rem;
      }
      .image-listbottom .bottom-three{
        width: 9.75rem;
        height: 14.625rem;
      }
      .contactushome .contentconatct {
        color: #121212;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.9rem;
        width: 20.37rem;
        margin-left: 1.5rem;
      }
      .headingtwocontact {
        margin-left: 1.5rem;
        font-size: 1rem;
      }
      .contactushome .btn{
        margin-left: 1.5rem;
        margin-top: 2rem;
      }
      .contactushome .svgviolet{
        position: absolute;
        right: 21.06rem;
        bottom: 2.81rem;
      }
      .contactushome .svgorange{
        position: absolute;
        right: 3.0660rem;
        bottom: 12.81rem;
      }
      .footercomponet{
        padding-top: 2.25rem;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: start;
      }
      .footercomponet img{
        grid-row-start: 1;
        grid-row-end:2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left:0;
        justify-self: center;
      }
      .footercomponet .last{
        margin-right: 0;
      }
      .lineinend .flexedfoot{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }
      .lineinend .finalnote{
        width: 19.81rem;
        margin-left: 0;
        font-size: 1rem;
        line-height: 1.75rem;
      }
      .lineinend .finalredirects ul {
        margin-top: 1.5rem;
        margin-right: 0;
      }
      .lineinend .finalredirects{
        align-self: flex-start;
      }
      section .oneaboutus{
        margin-top: 4.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
      }
      .oneaboutus h1 {
        margin-left: 0rem;
        font-size: 2.5rem;
        width: fit-content;
      }
      .oneaboutus h4{
        width: 20.16rem;
        font-size: 1rem;
        margin-right: 0;
      }
      .aboutusoneimg{
        display:flex;
        width: 22.25rem;
        height: 12.4375rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
      }
      .aboutustwoimgtext{
        flex-direction: column;
        align-items: center
      }
      .aboutustwo-contentone{
        margin-left: 0;
      }
      .aboutustwo-contentone h3{
        font-size: 1.375rem;
      }
      .aboutustwo-contentone h5{
        width: 22rem;
      }
      .aboutustwoimgtext img{
        width: 18.75rem;
        height: 18.75rem;
        padding-right: 0;
        padding-top:0;
        margin-bottom: 2rem;
      }
      .threestepdiv{
        flex-direction: column-reverse;
        align-content: space-between;
        flex-wrap: wrap;
        align-items: center;
      }
      .rightstepaboutstart{
        width: 100vw;
      }
      .embarkstepthree{
        gap: 0.5rem;
        margin-right: 0;
        justify-content: center;
      }
      .embarkstepthree h3{
        font-size: 1.375rem !important;
        width: 18rem !important;
        
      }
      .rightstepaboutstart>h3{
        width: fit-content;
      }
      .rectanglestep{
        margin-left: 0;
        width: 21.75rem;
        height: fit-content;
        flex-wrap: nowrap;
        border-radius: 5%;
      }
      .rectanglestep h5{
        width: 20.25rem;
      }
      .threesteprightdiv .aboutUsorange{
        width: 2.9375rem;
        height: 2.9375rem;
      }
      .threesteprightdiv .aboutUsblack{
        height: 1.75rem;
        width: 1.75rem;
        top: 14rem;
      }
      .threesteprightdiv .aboutUsviolet{
        width: 0.75625rem;
        height: 0.75625rem;
        top: 18.6rem;
      }
      .aboutusstepcontact{
        padding-top: 10rem;
        padding-bottom: 2rem;
        margin-left: 50%;
        transform: translateX(-50%);
        width: fit-content;
      }
      .aboutusstepcontact a{
        width: fit-content;
      }
      .rectanglestep svg{
        display: none;
      }
      .item-rect-about{
        margin: 1rem;
      }
      .aboutusstepcontact a h3{
        font-size: 1.5rem
      }
      .productone-head>h2{
        width: 22.4375rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
      .productone-head>h4{
        font-size: 1.5625rem;
      }
      .productone-namehead{
        flex-direction: column;
      }
      .productone-namehead span{
        height: 0.0625rem;
        width: 12.5rem;
        margin-top :2.5rem; 
        margin-bottom: 2.5rem;
      }
      .productone-namehead h3{
        width: 18.9375rem;
        font-size: 1rem;
        line-height: 1.25rem;
      }
      .product-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      .productone{
        padding-top: 1rem;
      }
      .productlist-inner{
        gap: 1rem;
      }
      .productlist-insider h4{
        width: 19rem;
        font-size: 0.875rem;;
      }
      .productlist-insider h3{
        font-size: 1rem;
      }
      .productlistdiv-1 h3{
        font-size: 1.125rem;
        padding-bottom: 3rem;
      }
      .productlastdiv-1>h3{
        font-size: 0.875rem;
        width: 22.4375rem;
      }
      .productlastdiv-1> .btn{
        width: 9rem;
        height: 3rem;
      }
      .lastproducts{
        padding-bottom: 3rem;
      }
      section .contactdiv{
        flex-direction: column-reverse;
      }
      .contactdiv .contactRight{
        width: 100%;
        padding-left: 0;
      }
      .formheading>h3{
        width: 20rem;
      }
      .formheading>h6{
        width: 19rem;
      }
      .formheading{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
      }
      .contactdiv .contactLeft{
        width: 100%;
        padding-top: 1rem;
      }
      .anythingcontact{
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .thirdontact>iframe{
        width: 15rem;
        height: auto;
        transform: translateX(-0%);
      }
}