.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .item1 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 1;
    background-color: #f00;
    color: #fff;
    padding: 20px;
  }
  
  .item2 {
    background-color: #00f;
    color: #fff;
    padding: 20px;
  }
  
  .item3 {
    background-color: #0f0;
    color: #fff;
    padding: 20px;
  }
  
  .item4 {
    background-color: #ff0;
    color: #fff;
    padding: 20px;
  }
  